.nav {
  grid-area: nb;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-1);
  padding: 0 20px;
}

.appTitle {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.settingsBtn {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}
